body{
	font-family: verdana;
	font-size: 12px;
	background: #191970;
	color:#fff;
	margin:10px;
	padding:0px;
}

input {
	background: #333;
	color:#fff;
	padding:10px;
	border-radius:5px;
	border:0px;
	margin:5px auto;
}

input:hover{
	color:#ccc;
}

#title_bar{
	background: #ccc;
	color:#333;
	padding: 10px;
	border-radius:5px;
}
#user{
	background: #ccc;
	color:#333;
	padding: 10px;
	border-radius:5px;
	position: absolute;
    top: 10px;
    right: 16px;
}

#title_bar ul{
	list-style:none;
	padding: 0px;
	margin:0px;
}

#title_bar ul li{
	float:left;
	padding:10px 10px;
}

#title_bar ul li a{
	background: #333;
	color:#fff;
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
}

#title_bar ul li a:hover{
	color:#ccc;
}

.clear{
	clear:both;
}

.container {
	background: #ccc;
	color:#333;
	padding:10px;
	border-radius: 20px;
	margin:10px 0px;
	min-height: 800px;
}

.box{
	background: #333;
	color: #fff;
	padding:10px;
	border-radius: 5px;
	margin: 10px 0px;
	width:25%;
	text-decoration:none;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    background: #ccc;
	color:#333;
	padding: 2px;
	border-radius:5px;
	width:auto;
}
